.home {
  background-image: url("austriajpg.jpg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
.home p {
  height: 150px;
  width: 400px;
}
.navigation {
  background: linear-gradient(
    rgb(77, 77, 188),
    rgb(89, 89, 224),
    rgb(153, 212, 232)
  );
  width: 100%;
  z-index: 1; /*this allows element to move forward and backward over or under any other image */
}
.tours {
  background: linear-gradient(
    270deg,
    blue,
    rgb(89, 89, 224),
    rgb(153, 212, 232)
  );
}
.contact {
  background: linear-gradient(
    270deg,
    blue,
    rgb(89, 89, 224),
    rgb(153, 212, 232)
  );
}
